<div class="container m-3 d-flex row m-1">
    <!-- <div class="col 12">
        <label>Source</label>
        <input #srcCity type="text"/>
    </div> -->
    <h3 class="m-4">Create New Itinerary Here</h3>
    <div *ngIf="dest.length>0" class="d-flex">

    
    <div class="d-flex row" *ngFor="let i of dest;index as idx">
        <div class="col-6 p-1">
            <b>{{i['name']}}</b> 
            <p> from : {{i['from']}} </p> <p>to : {{i['to']}} </p>
            <button class="btn btn-secondary m-1" (click)="delDest(idx)">Delete</button>
            <button class="btn btn-primary" (click)="suggestHotels(i['name'],hotelsModal)">Suggest Hotels</button>
        </div>
    </div>
</div>
    
    <div *ngIf="isNewDest">
        <label>Dest Name: </label>
        <input #destName type="text"/>
        <label>From date: </label>
        <input #fromDate type="date"/>
        <label>To date: </label>
        <input #toDate type="date"/>
        <button (click)="isNewDest=false">Cancel</button>
        <button (click)="addNewDest(destName.value,fromDate.value,toDate.value)">Save</button>
    </div>
    <ng-template #hotelsModal let-modal class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <ul class="d-flex row" *ngFor="let i of hotels;index as idx">
            <li class="col-12">
                {{i.hotel_name}} :
                <p>{{i.address}}</p> 
                <p> Address : {{i.desc}}</p>
               
            </li>
        </ul>
        <button (click)="modal.close()">Close</button>
    </ng-template>
    <button class="btn btn-dark m-1" (click)="isNewDest=true">Add dest</button>
    <button class="btn btn-success m-1" (click)="saveItinerary()">Save Itinerary</button>
    
</div>